@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes grow {
  from {
    scale: 0,
  }
  to {
    scale: 1,
  }
}

:root {

}

html {
  height: 100%;
}

body {
  height: 100%;
}

.modal.active {
  animation: grow 300ms;
}